$font-color: #ddd;
$font-alternative-color: #000;
$accent-color: #ee6c4d;
$background-color: #003;
$background-body-color: #003;
$background-alternative-color: #000;
$footer-background-color: #bbb;
$footer-text-color: #000;
$blockquote-border-color: #111;
$code-border-color: #ccc;
$code-bacground: #111;
$pre-boder-color: #333;
$pre-background-color: #111;
$body-color: #aaa;
$linear-gradient-start-color: #5f5f5f;
$linear-gradient-end-color: #fff;
$a-color: #eee;
$main-p-color: #979696;
$title-color: #eee;
$footer-border-color: #eee;
$footer-a-color: $main-p-color;
$tech-border-color: #003;
$image-border-color: #eee; 


$main-font-size: 1em;
$main-line-height: 1.4;
$magic-number: $main-font-size * $main-line-height;
