.header {
    display: flex;
    justify-content: space-between;
    background-color: $background-color;
}

.site-header {
    display: flex;
    justify-content: space-between;
    background-color: $background-color;
}

.logo {
    max-width: 200px;
    margin-left: 100px;
}
