.footer {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $footer-border-color;
}

.footer a {
    color: $footer-a-color;
}

.footer {
    font-size: 2rem;
    background-color: $background-color;
    color: $footer-a-color;
}

.social {
    font-size: 2rem;
}
