.gallery-container {
    display: grid;
    margin: 0 auto;
    grid-template-columns: 260px 260px 260px;
    grid-template-rows: 260px 260px 260px;

    img {
        border-radius: 0% 50% 50% !important;
    }

    iframe {
        margin-top: auto;
        margin-bottom: auto;
        width: 95%;
    }
}

@media (max-width: 820px) {
    .gallery-container {
        display: grid;
        margin: 0 auto;
        grid-template-columns: 260px 260px;
        grid-template-rows: 260px 260px 260px;
    }
}

@media (max-width: 550px) {
    .gallery-container {
        display: grid;
        margin: 0 auto;
        grid-template-columns: 260px;
        grid-template-rows: 260px 260px 260px;
    }
}
